

  .main {
    width: 100%;
    height: 94vh;
    display: flex;
    flex-wrap: wrap;
  }
  
  .left {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: #fff;
  }
  
  .textcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .textcenter > h1 {
    font-size: 90px;
  }
  
  .textcenter > p {
    font-size: 12px;
    opacity: 0.6;
    line-height: 20px;
    margin: 20px 0;
  }
  
  .textcenter > a {
    border-bottom: 1px solid #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
  }
  
  .lnav {
    align-items: center;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  
  .lnavright {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .lnavright > a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
    font-size: 18px;
  }
  
  .lnavright > i {
    color: royalblue;
  }
  
  .right {
    width: 60%;
    height: 51.5%;
    background-color: brown;
  }
  
  .rtop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .rbottom {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1603736105517-55d3f7f18f73?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  
  .rtopsub1 {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1552089123-2d26226fc2b7?q=80&w=1528&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  
  .rtopsub2 {
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=1530&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  