.highlightText {
  font-family: sans-serif;
  background: linear-gradient(to right, 
  rgba(255, 167, 0, 0.5),  /* #ffa700 */
  rgba(214, 45, 32, 0.5),  /* #d62d20 */
  rgba(0, 87, 231, 0.35),  /* #0057e7 */
    rgba(0, 135, 68, 0),     /* #008744 */
    rgba(214, 45, 32, 0.5),  /* #d62d20 */
    rgba(0, 87, 231, 0.35),  /* #0057e7 */
    rgba(0, 135, 68, 0));    /* #008744 */
  background-size: 300% 100%; /* Increase background size for smoother transition */
  background-position: left;
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text color transparent so background shows through */
  animation: highlight-animation 8s ease-in-out infinite; /* Smooth animation */
  text-align: center;
  width: 100%;
  height: 99vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@keyframes highlight-animation {
0% {
  background-position: left;
}
50% {
  background-position: right;
}
100% {
  background-position: left;
}
}

  
  .welcome {
    font-family: 'Raleway', sans-serif; /* Font for the welcome text */
    font-size: 10rem; /* Adjust as needed */
    font-weight: bold; /* Adjust as needed */
  }
  
  .subtitle {
    font-family: 'Grey Qo', serif; /* Font for the author text */
    font-size: 2.5rem; /* Adjust size to be smaller */
    margin-top: 0.5rem; /* Space between lines */
  }
  
.loadingcontainer {
  background-color: #212529;
  width:100%;
  height:100vh
}

.Container{
  background-color: #dbdbdb;
}

.Container::-webkit-scrollbar {
  display: none;
}