
  
  
  .body {
    height: 97vh;
    overflow: hidden;
  }
  
  .main {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: hsl(346deg 17% 70%);
  }
  
  .part1 {
    height: 100%;
    width: 26%;
  }
  
  .part1Subdiv {
    display: flex;
    gap: 2rem;
    margin: 1rem;
  }
  
  .part1Subsubdiv {
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    font-family: cursive;
  }
  
  .PageLogo {
    width: 100px;
    height: auto;
  }
  
  .part2 {
    height: 100%;
    width: 67%;
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    background-color: #cf91a454;
  }
  
  .overlay1 {
    border-radius: 33px;
    height: 100%;
    width: 100%;
    background-color: #cf91a454;
  }
  
  .part3 {
    height: 100%;
    width: 7%;
    /* background-color: orangered; */
  }
  
  .textDiv {
    height: 300px;
    position: absolute;
    width: 400px;
    left: 20%;
    top: 30%;
    color: #fff;
    transform: translate();
  }
  
  .textDiv > h1 {
    font-size: 80px;
    font-family: fantasy;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
  
  .smallImg {
    border-radius: 33px;
    z-index: 1;
    width: 400px;
    height: 300px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0px, -50px);
    animation-name: smallimage;
    animation-duration: 3s;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1534008757030-27299c4371b6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  }
  
  @keyframes smallimage {
    0% {
      width: 0px;
    }
  
    100% {
      width: 400px;
    }
  }
  
  .verticalText {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0%;
    top: -2%;
    right: -90%;
    width: 100%;
    animation-name: verticaltext;
    animation-duration: 2s;
  }
  
  @keyframes verticaltext {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  
  .verticalText > h1 {
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    font-family: fantasy;
    letter-spacing: 20px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    animation-name: text;
    animation-delay: 4s;
  }
  
  .LineStable1 {
    position: absolute;
    top: 30px;
    background-color: #fff;
    width: 59px;
    height: 70px;
    margin-left: 300px;
  }
  
  .LineStable2 {
    position: absolute;
    top: 6.4rem;
    background-color: #fff;
    width: 100px;
    height: 68px;
    left: -41px;
    margin-left: 300px;
  }
  
  .LineStable3 {
    position: absolute;
    top: 11.2rem;
    background-color: #fff;
    width: 210px;
    height: 65px;
    left: -152px;
    margin-left: 300px;
  }
  
  .Line1 {
    background-color: #fff;
    width: 0px;
    height: 70px;
    position: absolute;
    top: 30px;
    animation-name: progressStart1;
    animation-duration: 3s;
    animation-direction: reverse;
  }
  
  .Line2 {
    background-color: #fff;
    width: 0px;
    height: 68px;
    position: absolute;
    top: 6.4rem;
    animation-name: progressStart2;
    animation-duration: 3.2s;
    animation-direction: reverse;
  }
  
  .Line3 {
    background-color: #fff;
    width: 0px;
    height: 67px;
    position: absolute;
    top: 11.2rem;
    animation-name: progressStart3;
    animation-duration: 3.4s;
    animation-direction: reverse;
  }
  
  .Line4 {
    background-color: #fff;
    width: 0px;
    height: 70px;
    position: absolute;
    top: 15.7rem;
    animation-name: progressStart4;
    animation-duration: 3.6s;
    animation-direction: reverse;
  }
  
  @keyframes progressStart1 {
    0% {
      width: 0px;
    }
  
    100% {
      width: 300px;
    }
  }
  
  @keyframes progressStart2 {
    0% {
      width: 0px;
    }
  
    100% {
      width: 270px;
    }
  }
  
  @keyframes progressStart3 {
    0% {
      width: 0px;
    }
  
    100% {
      width: 150px;
    }
  }
  
  @keyframes progressStart4 {
    0% {
      width: 0px;
    }
  
    100% {
      width: 360px;
    }
  }
  